#outerContainer {
    position: fixed;
    display: flex;
    bottom: calc(var(--element-size) + var(--element-margin));
    margin: var(--element-margin);
    height: calc(3 * var(--element-size) + 2 * var(--element-margin));
    width: calc(100% - 2 * var(--element-margin));
    z-index: 998;
}

.justifyContent {
    justify-content: flex-start;
}

#container {
    display: flex;
    gap: var(--element-margin);
    width: calc(100% - var(--element-size) - var(--element-margin));
}

.content {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: var(--element-margin);
    font-size: calc(0.5 * var(--element-size));
    color: var(--smooth-black-transparent);
}

.centerContent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinnerIcon {
    width: var(--element-size);
    height: var(--element-size);
}

#closeContainer {
    position: absolute;
    right: calc(0.5 * var(--element-margin));
    top: calc(0.5 * var(--element-margin));
    border-radius: calc(0.5 * var(--element-margin));
    width: var(--element-size);
    height: var(--element-size);
}

#closeContainer:hover {
    background-color: var(--smooth-black-transparent-20);
}

#closeButton {
    width: 100%;
    height: 100%;
}

#closeInnerContainer {
    width: 100%;
    height: 100%;
    opacity: 40%;
}
#closeInnerContainer:hover {
    opacity: 100%;
}

.closeIcon {
    color: var(--smooth-black);
}
.closeIcon:hover {
    color: #e94256;
}

#infoContainer {
    
}

@media screen and (min-width: 768px), screen and (orientation: landscape) {
    .justifyContent {
      justify-content: center;
    }
  
    .content {
      flex-grow: 1;
      border: none;
      outline: none;
      padding: var(--element-margin);
      font-size: calc(0.5 * var(--element-size));
      color: var(--smooth-black-transparent);
      width: 66.67%;
    }
  
    #container {
      display: flex;
      gap: var(--element-margin);
      width: calc(33.33%);
    }
  }