#infoContainer {
	height: 100%;
	width: 100%;
}

#infoTitleContainer {
	height: var(--element-size);
}

.titleh3 {
	display: flex;
	align-items: center;
    flex-direction: row;
	height: calc(var(--element-size) - 0.75 * var(--element-margin));
	border-radius: calc(1.25 * var(--element-margin));
	padding-left: calc(0.5 * var(--element-margin));
	padding-right: calc(0.5 * var(--element-margin));
	overflow: hidden;
}

.titleh3 > * {
	display: flex;
	align-items: center;
	height: calc(var(--element-size) - 1.5 * var(--element-margin));
	border-radius: var(--element-margin);
	padding-left: calc(0.75 * var(--element-margin));
	padding-right: calc(0.5 * var(--element-margin));
	max-width: 100%;
}

.nameSpan {
	font-family: "Doto", serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
	font-variation-settings: "ROND" 70;

	background-color: var(--smooth-black);
	color: #ff9400;
	white-space: nowrap;
	overflow: hidden;
	font-size: 1.5rem;
}

.lineSpan {
	color: var(--smooth-white);
}

.colorNone {
	background-color: #969696;
}
.colorRed {
	background-color: #e94256;
}
.colorBlue {
	background-color: #007aff;
}

.busInfoConatainer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(6, 1fr);
	grid-template-areas:
		"area-from"
		"area-to"
		"area-capacity"
		"area-operator"
		"area-speed"
		"area-heading";
	height: auto;
	width: 100%;
}

#containerFrom {
	grid-area: area-from;
}
#containerTo {
	grid-area: area-to;
}
#containerCapacity {
	grid-area: area-capacity;
}
#containerOperator {
	grid-area: area-operator;
}
#containerSpeed {
	grid-area: area-speed;
}
#containerHeading {
	grid-area: area-heading;
}

.infoContainerOuter {
	display: flex;
	gap: var(--element-margin);
}

.infoIconContainer {
	opacity: 40%;
	width: calc(0.66 * var(--element-size));
	height: calc(0.66 * var(--element-size));
}

.infoIconClass {
	color: var(--smooth-black);
	width: calc(0.66 * var(--element-size));
	height: calc(0.66 * var(--element-size));
}

.notInTraficContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	width: 100%;
}

.infoContainerInner {
	display: flex;
	align-items: center;
	gap: calc(0.5 * var(--element-margin));
	height: calc(0.66 * var(--element-size));
}

.infoContainerInner > p {
	font-size: 1.125rem;
}

@media screen and (min-width: 768px), screen and (orientation: landscape) {
	.busInfoConatainer {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas:
			"area-from area-speed"
			"area-to area-heading"
			"area-operator area-capacity";
	}
}
