#container {
    display: flex;
    align-items: flex-end;
    gap: var(--element-margin);
    padding: var(--element-margin);
    width: 100%;
    height: calc(var(--element-margin) +  var(--element-size));
    position: fixed;
    bottom: 0;
    z-index: 998;
  }
  
  .input {
    flex-grow: 1;
    border: none;
    outline: none;
    padding: var(--element-margin);
    height: var(--element-size);
    color: var(--smooth-black-transparent);
    font-size: calc(0.5 * var(--element-size));
  }
  
  .input::placeholder {
    color: var(--smooth-black-transparent);
  }
  
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--element-size);
    height: var(--element-size);
    border: none;
    color: var(--smooth-black-transparent);
    cursor: pointer;
  }
  