.mapWidgets {
	position: fixed;
	display: flex;
	flex-direction: column;
	width: var(--element-size);
	gap: var(--element-margin);
	margin: var(--element-margin);
	z-index: 10000;
}

#mapShortcuts {
	right: 0;
	bottom: 0;
}

#mapControls {
	right: 0;
	bottom: 50%;
	transform: translateY(50%);
	display: none;
}

#zoomContainer {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

#zoomContainer button {
    box-shadow: none;
}

#zoomContainer button  {
    border-radius: 0;
}

@media screen and (min-width: 768px), screen and (orientation: landscape) {
	#mapShortcuts {
		left: 0;
		bottom: 50%;
		transform: translateY(50%);
	}

	#mapShortcuts > .locateButton {
		display: none;
	}

	#mapControls {
		display: flex;
	}
}
