header {
    position: fixed;
    z-index: 999;

    width: 100%;
    padding: var(--element-margin);
    height: var(--element-size);

    display: grid;
    gap: var(--element-margin);
    grid-template-columns: 1fr var(--element-size);
    grid-template-rows: 1fr;
    grid-template-areas: "h1 menu";
}

#logo {
    grid-area: h1;

    display: flex;
    align-items: center;
    height: var(--element-size);
    padding: var(--element-margin);
}

#logo img {
    height: 100%;
}

#headernav {
    grid-area: menu;
}